@import "../../utils/Mixins";
@import "../../utils/Variables";

@include modal();

.setupBtn {
  height: 2.125rem;
  width: 100%;
  max-width: 170px;
  font-size: 14px;
  font-weight: 600;
}

.checklistBox {
  font-size: 12px;
}

.checklistLine {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.checklistTitle {
  font-weight: 600; // semi bold
  letter-spacing: 0.1px;
}

.checklistSummary {
  font-weight: 500; // medium
  letter-spacing: 0.4px;
}

.hrSmallMargin {
  margin-top: 11px;
  margin-bottom: 11px;
}

.modalChild {
  width: 450px;
  height: 575px;
}