@import "../../utils/Variables";

.MTPositionPanel {
  display: flex;
  border-bottom: 1px solid #393942;
  margin-bottom: 24px;
}

.MTPositionColumn {
  width: 32%;
  padding: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

.MTPositionColumnNarrow {
  display: flex;
  height: 100%;
  width: 18%;
  padding: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
}

.summaryRow {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}

.summaryLabel {
  color: $grey-light-mid;
  flex-grow: 1;
}

.summaryValue {
  color: #fff;
  flex-grow: 1;
  text-align: right;
}

.statsBox {
  border: 1px solid #383842;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 0 0 16px 0;

  .summaryValue {
    text-align: center;
  }

  .summaryLabel {
    margin-top: 5px;
  }
}

.actionButton {
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 12px;
}