@import "../../utils/Variables";

.MTPositionPanel {
  display: flex;
  border-bottom: 1px solid $element-border;
  margin-bottom: 24px;
}

.MTPositionColumn {
  width: 32%;
  padding: 20px;
  flex-shrink: 0;
  flex-grow: 0;
}

.MTPositionColumnNarrow {
  display: flex;
  height: 100%;
  width: 18%;
  padding: 20px 8px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
}

.summaryRow {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}

.summaryLabel {
  color: $dark-grayish-blue;
  flex-grow: 1;
}

.summaryValue {
  color: $very-dark-violet;
  flex-grow: 1;
  text-align: right;
}

.statsBox {
  border: 1px solid $element-border;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 0 0 16px 0;

  .summaryValue {
    text-align: center;
  }

  .summaryLabel {
    margin-top: 5px;
  }
}

.actionButton {
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 12px;
  font-size: 13px;
}

.message {
  display: flex;
  border-radius: 4px;
  padding: 20px;
  margin: 25px 20px;
  font-size: 14px;
  line-height: 22px;

  div {
    margin: 0 20px 0 0;
    align-self: center;
  }

  span {
    align-self: center;
    flex-grow: 1;
  }

  .redeemButton {
    align-self: center;
    margin-left: 35px;
    align-content: right;
    flex-grow: 0;
  }
}

.infoMessage {
  @extend .message;

  color: #828288;
  border: 1px solid #3F3F47;
}

.warningMessage {
  @extend .message;


  color: rgba(255, 82, 82, 0.8);
  border: 1px solid rgba(255, 82, 82, 0.2);

}

.redeemButton {
  &:disabled {
    color: #58585F !important;
  }
}