@import "../../utils/Mixins";
@import "../../utils/Variables";
@import "../../utils/Form";

@include modal();

.panel {
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: 14px;
  padding: 15px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checklistBox {
  font-size: 12px;
}

.checklistLine {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.checklistTitle {
  font-weight: 600; // semi bold
  letter-spacing: 0.1px;
}

.checklistSummary {
  font-weight: 500; // medium
  letter-spacing: 0.4px;
}

.balanceTable {
  font-size: 14px;
  line-height: 1.5;
  width: 100%;

  td:nth-child(2) {
    text-align: right;
    @include fontBold;
  }
}

.hrBigMargin {
  margin-top: 11px;
  margin-bottom: 18px;
}

.hrSmallMargin {
  margin-top: 11px;
  margin-bottom: 11px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
}

.button {
  min-width: 95px;
  padding: 0 20px;
}

.confirmButton {
  font-size: 16px;
  height: 35px;
  width: 100%;
}

.cancelButton {
  font-size: 14px;
  height: 35px;
  margin-top: 12px;
  background: $another-light-grayish-blue;
  color: $very-dark-desaturated-blue;
  width: 100%;
}

.summaryBox {
  border: 1px solid $another-light-grayish-blue-3;
  border-bottom: 0;
  padding: 15px 12px 2px 12px;
}


.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transitionArrow {
  display: inline-block;
  height: 8px;
  width: 16px;
  margin: 0 12px;
  background: url("./icon_arrow_right.svg") no-repeat center;
}

.orderSummaryRow {
  @include formRow;
}

.orderSummaryRowDark {
  .orderSummaryLabel {
    @include formLabelDark;
  }
}

.orderSummaryLabel {
  text-align: left;
  flex-grow: 2;
}

.orderSummaryValue {
  text-align: right;
}

.orderSummaryValuePositive {
  color: $green;
}

.orderSummaryValueNegative {
  color: $red;
}

.InfoRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $another-light-grayish-blue-3;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 28px;
}

.InfoBox {
  flex-grow:1;
  flex-shrink: 1;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px;
  border-left: 1px solid $another-light-grayish-blue-3;

  &:first-child {
    border-left: none;
  }
}

.InfoRowLabel {
  @include formLabelDark;

  margin-bottom: 5px;
}

.notSetupBorder {
  text-align: center;
  border: 1px dashed rgba(88, 88, 95, 0.4);
  border-radius: 2px;
  padding: 30px 0;
  margin-bottom: 15px;
}

.headerWithIcon {
  justify-content: space-between;
  position: relative;
}

.tabs {
  display: flex;
  cursor: default;

  .tab {
    text-transform: uppercase;
    color: $grayish-blue;
    border-bottom: 2px solid $another-light-grayish-blue;
    padding: 10px 8px;
    margin: 0 4px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;

  }

  .tabActive {
    color: $green;
    border-bottom: 2px solid $green;

  }
}

.onboardingHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.onboardingPanel {
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin-top: auto;
}

.onboardingParagraph {
  margin-bottom: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

.onboardingButton {
  max-width: none;
}

.modalChild {
  width: 450px;
  height: 682px;
}

.buttonDone {
  background: none;
  border: 1px solid $green;

  &:hover {
    background: none;
    border: 1px solid $green;
  }
}

.subtitle {
  width: 100%;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: $very-dark-violet;
}