@import "../utils/Mixins";
@import "../utils/Variables";

.flex {
  display: flex;
  font-size: 14px;
}

.box {
  flex-basis: 30%;
  flex-grow: 1;
  padding: 16px 32px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// top boxes with large values
.largeFontSize {
  font-size: 20px;
  margin-top: 0.2em;
  @include fontLatoMedium;
}